.post .cpfp-span ul li h3.fave a { color: #b22222; text-decoration: underline; }

/* main */
h1.single { color: #b22222; }
h1.single, span.colour { color: #b22222; }
.shadowblock h2.dotted, .shadowblock h1.textcolor, .shadowblock h2.color, .shadowblock h3.color { color: #b22222; }
div.bigright span { color: #b22222; }
div#mcwrap span { font-size: 13px; color: #b22222; }
h3 a { color: #b22222; text-decoration: underline; }
a { color: #b22222; text-decoration: underline; }
a:hover { color: #111111; }

h1.single-ad, h1.single-ad a, h3.single a { color: #b22222; }

/* home page directory category listing */
#directory .catcol ul li.maincat a { color: #b22222 !important; }
#directory .catcol ul li.maincat a:hover, #directory .catcol ul li.cat-item a:hover { color: #555555 !important; }


/* header */
.header_top { background-color: #111111; }
.header_top_res p a { color: #ed2b2b; }

/* main nav menu global styles */
.header_menu_res ul.menu li ul li a:hover { color: #b22222; }
.header_menu { background-color: #b22222; margin: 0 auto; }

.btn-topsearch { background: url("../images/r_go.png") no-repeat scroll 0 0 #b22222; }


/* category menu */
div#adv_categories .catcol ul li.maincat a { color: #b22222; }
div#adv_categories .catcol ul li.maincat a:hover { color: #b22222; }
div#adv_categories .catcol ul li.cat-item { color: #b22222; }
div#adv_categories .catcol ul li.cat-item:hover { color: #b22222; }
div#adv_categories .catcol ul li.cat-item:hover a { color: #b22222; }
div#adv_categories .catcol ul li.cat-item a:hover { color: #b22222; }


/* featured listings homepage carousel */
.slider ul li .title a { color: #555555; }
.slider ul li .title a:hover { color: #b22222; }
.slider ul li:hover .attachment-ad-small { border: 1px solid #dcdcdc; }
.slider ul li { color: #b22222; }
span.price_sm { background-color: #b22222; color: #ffffff; }
span.price_sm a { background-color: #b22222; color: #ffffff; }
span.price_sm:hover { background-color: #111111; }


/* pagination */
.pages span { background-color: #ffffff; }
.pages span.current { background-color: #b22222; color: #ffffff; }
.pages a { color: #555555; background: transparent url("../images/dk-noise.png") repeat scroll 0 0; }


/* button styles */
.orangebutton { background-color: #ff6600; border: 1px solid #ff6600; color: #ffffff !important; }
.orangebutton:hover { background-color: #111111; border: 1px solid #111111; }

.btn_orange { background-color: #ff6600 !important; border: 1px solid #ff6600 !important; color: #ffffff !important; text-decoration: none; }
.btn_orange:hover, .btn_orange a:hover { background-color: #111111; border: 1px solid #111111 !important; }

.btn_orange_dkbg { background-color: #ff6600; border: 1px solid #ff6600; color: #ffffff !important; }
.btn_orange_dkbg:hover, .btn_orange_dkbg a:hover { background-color: #111111; border: 1px solid #111111; }

.btn_link { background-color: #b22222; border: 1px solid #b22222 !important; color: #ffffff !important; text-decoration: none; }
.btn_grey { background: transparent url("../images/dk-noise.png") repeat scroll 0 0; border: 1px solid #ededed !important; color: #555555 !important; text-decoration: none; }
.btn_link:hover { background-color: #111111; border: 1px solid #111111 !important; color: #ffffff !important; text-decoration: none; }
.btn_grey:hover {  background: transparent url("../images/dk-noise.png") repeat scroll 0 0; border: 1px solid #ededed !important; color: #555555 !important; text-decoration: none; }

.header_menu_res a.btn_orange { background-color: #ff6600 !important; border: 1px solid #ff6600 !important; float: right; }
.header_menu_res a:hover.btn_orange  { background-color: #111111; border: 1px solid #111111 !important; }

.wpcf7-submit { background-color: #ff6600; border: 1px solid #ff6600; color: #ffffff; }
.wpcf7-submit:hover { background-color: #111111; border: 1px solid #111111; color: #ffffff; }

.selectBox-options li.level-1, .selectBox-options li.level-2 { color: #b22222; }

span.back a { color: #b22222; }

/* main nav menu global styles */
.header_menu_res ul.menu li ul li a:hover { color: #b22222; text-decoration: underline !important; }
div#adv_categories .catcol ul li.maincat a { color: #b22222; }


/* category menu */
.adv_categories ul li.active { margin: 0 -7px 0 -8px; padding: 4px 7px 4px 8px; color: #ffffff; background-color: #333333; }
.adv_categories .catcol ul li.maincat a { margin: 0; padding: 4px 0; color: #333333; text-decoration: none; }

/* tab control main */
.tabcontrol ul.tabnavig li a.selected, .tabcontrol ul.tabnavig li a.selected:hover { color: #ffffff; background: none #b22222; border: 1px solid #b22222; }
.tabcontrol div.undertab a { text-decoration: none; color: #b22222; }


/* tab control blog sidebar */
.tabprice ul.tabnavig li a.selected { color: #ffffff; background: none #b22222; border: 1px solid #b22222; }


/* sidebar refine search */
ul.refine li input#amount, input#amountMin, input#amountMax, ul.refine li input#distance, .distance input#cp_city_zipcode { color: #b22222; }
ul.refine li input#distance { background: none; border: 0 !important; }


#comments ol.commentlist .user-meta .name, #comments ol.commentlist .user-meta .name a { color: #b22222; }
#comments ol.commentlist .user-meta a { color: #b22222; }

blog post-meta { color: #aeaeae; }
.post-meta a:hover { color: #333333; }



/* price */
p.post-price { background-color: #b22222; color: #ffffff; }
.post-block .post-right h3, .post-block .post-right h3 a { color: #555555; }
.post-block .post-right h3 a:hover { color: #b22222; }
.post-block:hover .post-left img { border: 1px solid #bbbbbb; }


/* footer */
.footer_menu { background-color: #b22222; }	
.footer_menu_res ul li a { color: #ffffff; }
.footer_main_res div.column p a { color: #b22222; }		
.footer_main_res div.column ul li a, .footer_main_res div.shadowblock_out li a { color: #b22222; text-decoration: none; }	
.footer_main_res div.column ul li a:hover, .footer_main_res div.shadowblock_out li a:hover { color: #111111; text-decoration: none; }
.footer .right a { color: #b22222; }
.footer .right a:hover { color: #111111; }


/* form step */
.form_step li.withborder label { color: #b22222; }

/* form step button images */
a.attachment-delete { padding: 5px 10px; position: absolute; left: 10px; top: 46px; background-color: #ededed; border: none; color: #ffffff; text-decoration: none; }
a:hover.attachment-delete { background-color: #b22222; }

#app-attachment-upload-pickfiles { background-color: #b22222; border: 1px solid #b22222; color: #ffffff !important; }

.order-gateway h2 { color: #b22222 !important; }